<div class="header">
  <div class="social-icons">
    <a href="https://www.facebook.com/dprleak" target="_blank" alt="..."><mat-icon style="color: white;">facebook</mat-icon></a>
    <!-- <mat-icon>twitter</mat-icon>  jbbsc -->
    <mat-icon style="color: white;">discord</mat-icon>
    <mat-icon style="color: white;">youtube</mat-icon>
  </div>
  <div class="logo">
    <img id="logo-dpr" src="/assets/logo/DPRLeak.svg" alt="logo-dprleak">
    <p>Déclaration de la Politique Régionale</p>
  </div>
</div>


<div class="content">

  <div class="info-text">
    <div><p id="txtinfo">DÉCOUVREZ LA DÉCLARATION DE POLITIQUE RÉGIONALE (DPR)</p></div>
    <div><p id="txtinfo">EN WALLONIE, SES OBJECTIFS, SES IMPLICATIONS ET</p></div>
    <div><p id="txtinfo">SON IMPACT SUR LES REGIONS, RESTEZ INFORME SUR LES</p></div>
    <div><p id="txtinfo">DERNIERES INITIATIVES REGIONALES ET POLITIQUES.</p></div>
    <div class="search-container">
      <input type="text">
      <button id="btn-search" type="submit"><mat-icon id="icon-search">search</mat-icon></button>
    </div>
  </div>


  <div class="img-box">

    <div class="card" style="width: 18rem;">
      <img src="/assets/img/istockphot.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Le Logement</h5>
        <p class="card-text">Le logement est un droit fondamental crucial pour la dignité humaine et la cohésion sociale, nécessitant des politiques inclusives visant à garantir un accès équitable à un logement décent et abordable pour tous.</p>
        <a href="#" class="btn btn-primary">+ d'info. ici</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="/assets/img/liar-people.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Les infrastructures sportives</h5>
        <p class="card-text">Les infrastructures sportives, vitales pour la santé et le bien-être, requièrent un soutien accru pour leur accessibilité et leur développement</p>
        <a href="#" class="btn btn-primary">+ d'info. ici</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="/assets/img/politician.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Les pistes cyclables</h5>
        <p class="card-text">
          Les voies dédiées aux cyclistes, essentielles pour une mobilité respectueuse de l'environnement et la protection des cyclistes, nécessitent une attention particulière en termes d'expansion et de maintenance.</p>
        <a href="#" class="btn btn-primary">+ d'info. ici</a>
      </div>
    </div>
  </div>

</div>
<div class="collapsForm">

  <button
  class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
  type="button"
  data-twe-collapse-init
  data-twe-target="#collapseWidthExample"
  data-twe-ripple-init
  data-twe-ripple-color="light"
  aria-expanded="false"
  aria-controls="collapseWidthExample"
  (click)="isCollapsed = !isCollapsed">
  Formulaire de contacte
</button>

<div class="collapse collapse-horizontal" [collapse]="isCollapsed" id="collapse">
  <app-contact-form></app-contact-form>
</div>




<div class="container-sm">
  <p>Ce site web a été conçu et développé dans le cadre du hackathon "Citizen of Wallonie 2024", une initiative dédiée à l'innovation et à l'engagement civique en Wallonie. Notre objectif est de fournir une plateforme informative et accessible sur la Déclaration de Politique Régionale (DPR) en Wallonie.

    Cependant, pour garantir un accès complet et transparent aux informations, nous reconnaissons l'importance d'une participation politique et citoyenne complémentaire. En travaillant ensemble, nous pouvons collectivement obtenir davantage de données et renforcer la transparence dans la formulation et la mise en œuvre des politiques régionales.

    Nous encourageons donc tous les citoyens et les parties prenantes à s'impliquer activement, à partager leurs idées et à contribuer à enrichir le débat public sur la DPR en Belgique. Votre participation est essentielle pour façonner un avenir meilleur pour nos régions.

    Rejoignez-nous dans cette démarche et ensemble, construisons un avenir plus transparent et participatif pour la Wallonie !</p>
</div>





<footer>
  <div class="footer-content">
    <a id="hackathon"><img id="logoHack" src="/assets/logo/hackathontr.png"></a>
    <div id="txtfoot"><p>&copy; Hackathon 2024 <br>L'équipe: link de chaqun ci-dessous...</p></div>
    <div class="linkdin">
      <a id="link" href="https://www.linkedin.com/in/g%C3%A9rard-g%C2%B2-ernaelsten-570b72b/" target="_blank" title="Gérard Ernaelsetn"><img src="/assets/logo/linkedin-icon.png" class="card-img-top" alt="..."></a>
      <a id="link" href="https://www.linkedin.com/in/michele-carbonaro/" target="_blank" title="Michele Carbonaro"><img src="/assets/logo/linkedin-icon.png" class="card-img-top" alt="..."></a>
      <a id="link" href="https://www.linkedin.com/in/dallan-majunovic-627327215/" target="_blank" title="Dallan Majunovic"><img src="/assets/logo/linkedin-icon.png" class="card-img-top" alt="..."></a>
      <a id="link" href="https://www.linkedin.com/in/antonio%2Dsanguin%C3%A9%2Ddev%2Dfullstack/" target="_blank" title="Antonio Sanguinè"><img src="/assets/logo/linkedin-icon.png" class="card-img-top" alt="..."></a>
      <a id="link" href="https://www.linkedin.com/in/nathan-debast-0a575b2ba/" target="_blank" title="Nathan Debast"><img src="/assets/logo/linkedin-icon.png" class="card-img-top" alt="..."></a>
    </div>
  </div>
</footer>
