
<div class="header">
  <div class="social-icons">
    <mat-icon style="color: white;">facebook</mat-icon>
    <!-- <mat-icon>twitter</mat-icon>  jbbsc -->
    <mat-icon style="color: white;">discord</mat-icon>
    <mat-icon style="color: white;">youtube</mat-icon>
  </div>
  <div class="logo">
    <img id="logo-dpr" src="/assets/logo/DPRLeak.svg" alt="logo-dprleak">
    <p>Dèclaration de la politique regionale</p>
  </div>
</div>


<div class="content">

  <div class="info-text">
    <div><p id="txtinfo"> DECOUVEZ LA DECLARATION DE POLITIQUE GENERALE (DPR)</p></div>
    <div><p id="txtinfo">EN WALLONIE, SES OBJECTIFS, SES IMPLICATIONS ET SON</p></div>
    <div><p id="txtinfo">IMPACT SUR LES REGIONS, RESTEZ INFORME SUR LES</p></div>
    <div><p id="txtinfo">DERNIERES INITIATIVES REGIONALES ET POLITIQUES.</p></div>
  </div>

  <!-- <div class="searchbar">
    <mat-icon>search</mat-icon>
    <input type="text">
  </div> -->

  <div class="search-container">
    <input type="text">
    <button id="btn-search" type="submit"><mat-icon id="icon-search">search</mat-icon></button>
  </div>

  <div class="img-box">
  </div>

</div>

