<div class="header">
  <div class="social-icons">
    <mat-icon style="color: white;">facebook</mat-icon>
    <!-- <mat-icon>twitter</mat-icon>  jbbsc -->
    <mat-icon style="color: white;">discord</mat-icon>
    <mat-icon style="color: white;">youtube</mat-icon>
  </div>
  <div class="logo">
    <img id="logo-dpr" src="/assets/logo/DPRLeak.svg" alt="logo-dprleak">
    <p>Déclaration de la Politique Régionale</p>
  </div>
</div>


<div class="content">

  <div class="info-text">
    <div><p id="txtinfo">DÉCOUVREZ LA DÉCLARATION DE POLITIQUE RÉGIONALE (DPR)</p></div>
    <div><p id="txtinfo">EN WALLONIE, SES OBJECTIFS, SES IMPLICATIONS ET</p></div>
    <div><p id="txtinfo">SON IMPACT SUR LES REGIONS, RESTEZ INFORME SUR LES</p></div>
    <div><p id="txtinfo">DERNIERES INITIATIVES REGIONALES ET POLITIQUES.</p></div>
    <div class="search-container">
      <input type="text">
      <button id="btn-search" type="submit"><mat-icon id="icon-search">search</mat-icon></button>
    </div>
  </div>


  <div class="img-box">

    <div class="card" style="width: 18rem;">
      <img src="/assets/img/istockphot.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Le Logement</h5>
        <p class="card-text">Le logement est un droit fondamental crucial pour la dignité humaine et la cohésion sociale, nécessitant des politiques inclusives visant à garantir un accès équitable à un logement décent et abordable pour tous.</p>
        <a href="#" class="btn btn-primary">+ d'info. ici</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="/assets/img/liar-people.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Les infrastructures sportives</h5>
        <p class="card-text">Les infrastructures sportives, vitales pour la santé et le bien-être, requièrent un soutien accru pour leur accessibilité et leur développement</p>
        <a href="#" class="btn btn-primary">+ d'info. ici</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="/assets/img/politician.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Les pistes cyclables</h5>
        <p class="card-text">
          Les voies dédiées aux cyclistes, essentielles pour une mobilité respectueuse de l'environnement et la protection des cyclistes, nécessitent une attention particulière en termes d'expansion et de maintenance.</p>
        <a href="#" class="btn btn-primary">+ d'info. ici</a>
      </div>
    </div>

  </div>

</div>